#WIDGET_ID-WIDGET_INSTANCE_ID {
	/** Header Styling Starts Here */
	.ob-header-widget_1 {
		padding-top: 20px;
		position: relative;
        z-index: 9999;
        @media (max-width:992px){
			padding-bottom: 10px;      			
        }
        @media (max-width:991px){
			padding-top:0px;	
			z-index: 9999;		
		}
		#ob-top-bar {
			padding-top: 10px;  
		@media screen and (min-width:991px){
			li{
				padding-left: 20px !important;
			}
		}	
		}  		
	}  
	
	/** Popup Notification Css **/
		.oB_notification{
		    display:none;
			background: @osbornPrimarybgColor;    
			text-align: center;
			padding: 3% 0;
			span{      
				font-size: 15px;
				color:@osbornPrimaryTextColor;  
			}      
			span:nth-child(5){
			    cursor:pointer;
			    color: @osbornLinkFocusedTextColor;  
			}
		}
	
	#ob-top-menu {
		&:before,
		&:after {
			bottom: -1px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			top: -36px;
			left: 165px;
			border-width: 18px;
			z-index: 9999999;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
		}
		&:before {   
            border-bottom-color:@osbornSecondaryBorderColor;
        }
		&:after {
			border-bottom-color: @osbornPrimaryBorderColor;
		}
	}
	#ob-top-menu {
		box-shadow: none;
		width: 265px;
		left: -160px;
		border-radius: 0;
		top: 47px;
		z-index: 99999999;

		a {
			padding: 12px;
    		border-bottom: 1px solid #e5e5e5;
			&:hover {
				background: none;
			}
		}
	}
	.regionSection {
		padding: 20px 25px 0px;
		box-shadow: none;
		border-radius: 0;
		table {
			margin-bottom: 30px;
		}
		tbody,tr :last-child td,td {
			border-bottom: 1px solid @osbornSecondaryBorderColor;
		}		
		th {
			font-weight: 500;
			border-bottom: 2px solid @osbornSecondaryBorderColor;
		}
		td {
			text-align: left;
			 border-bottom:1px solid @osbornTableBorderBottomColor;
			ul {
				padding-left: 22px;
			}
		}
	}
	.Obborderbottom {
		border-bottom: 2px solid @osbornBorderBottomColor;
	}
	.ob-globe-icon{
	    width: 20px;
        display: inline-block;
        margin-right: 2px;
        margin-top: -4px;
	}
	.dropdown.regionSelector {
		position: relative;
		display: inline-block;
		height: 50px;
		cursor: pointer;
		padding-top: 10px;
		.ob-globe-icon {
				width: 20px;
				height: 20px;
                display: inline-block;
				margin-right: 2px;				
		}	   
		@media (min-width:320px) and (max-width:767px) {      
			float: left;       
		}  
		@media (min-width:320px) and (max-width:374px){
			padding-top: 6px;
			margin-left: -6px;
		}
		@media (min-width:375px) and (max-width:424px){
			padding-top: 6px;
			margin-left: 6px;
		}
		@media (min-width:425px) and (max-width:767px){
			padding-top: 6px;
			margin-left: 15px;
		}
	}
	.languageIcon{
		@media screen and (max-width:767px){
			margin-left: -14px !important;
		}
		@media (min-width:425px) and (max-width:767px){
			margin-left: 0px !important;
		}
	}
	.languageDropdown{
		@media (min-width:320px) and (max-width:767px){
			float: right;
			padding: 0px;
		}
	}
	.regionSection.dropdown-content {
		display: none;
		width: 260px;  
		position: absolute;
		left: -150px;
		top: 49px;		
		z-index: 99999991;
		&:before,
		&:after {  
			bottom: -1px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			top: -32px;
			right: 88px;
			border-width: 16px;
			z-index: 9999999;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
		}
		&:before {    
			border-bottom-color: @osbornSecondaryBorderColor;
		}
		&:after {
			border-bottom-color:@osbornPrimaryBorderColor;
		}			
	}
	.dropdown.regionSelector:hover .dropdown-content {
		display: block;
	}
	/*** start search css ***/
	.ob_search {
		position: absolute;
		right: -15px;
		top: 41px;
		display: none;
		@media (max-width: 991px) {
			top: 50px;
			right: 2px;
		}
		@media (max-width: 600px) {
			right: -12px;
		}	
		.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
			background-color: @osbornDropdownBackgroundColor !important;
		}				
	}
	.displaySearch{
		display: block;
	}
	#searchSubmit {
		border: none;  
        bottom: 30px;
        position: absolute;
        right: -24px;
        font-size: 20px;
        cursor: pointer;
		@media (max-width:320px){
			top: 5px;
			right: -6px;
		}
		@media (min-width:321px) and (max-width:767px){
			top: 5px;
		}
		@media (min-width:768px) and (max-width: 991px){
			top: 9px;
		}
		@media (min-width:321px) and (max-width:991px) {			    
            right: -6px;
		}    
		@media (min-width:768px) and (max-width:991px) {
		    bottom: -29px;    
            right: 10px;
		}    
			@media (min-width:601px) and (max-width:767px) {
			bottom: -36px;
			right: -18px;
		} 
		.ob-search-icon{
		    width:23px;  
		}
	}
	.iconSearch{
		@media screen and (max-width:767px){
			right: -15px !important;
		}
	}
	.input-group.dropdown.searchBox {
		position: relative;
		display: inline-block;
		height: 55px;
		&:before,
		&:after {
			@media (min-width: 992px) {
				bottom: 49px;
			}
			bottom: 43px;
			border: solid transparent;
			content: " ";
			height: 0;  
			width: 0;
			position: absolute;
			pointer-events: none;  
			border-width: 14px;
			z-index: 9999999;
			right: 6px;
		}
		&:before {
			border-bottom-color: @osbornSecondaryBorderColor;
		}
		&:after {
			border-bottom-color: @osbornPrimaryBorderColor;
		}
	}
	.input-group.dropdown .dropdown-content {
		display: none;
		position: absolute;
		top: 4px;  
		background-color: @osbornDropdownBackgroundColor;
		z-index: 99;
		@media (max-width: 991px) {
			top: 10px;
		}
	}
	.input-group.dropdown.searchBox .dropdown-content {
		display: block;
	}  
	#CC-headerWidget-Search {
		border-radius: 0px;
		box-shadow: none;
		height: 43px;
		border: 1px solid @osbornSearchBorderColor;
		z-index: 9999999;  
		font-size: 16px;
		&:focus{  
		       border: 1px solid @osbornSearchBorderColor; 
		       font-size: 16px;
		}
	}  
	#typeaheadDropdown{
		width: 365px !important;
		margin-left: 0px!important;  
		top: 44px!important;
		z-index:9999999;
		box-shadow: none;
		border: 1px solid @osbornSearchBorderColor;
		border-radius: 0px;  
		@media (min-width:992px) and (max-width:1024px){
		     width: 298px !important;
		}
			@media (min-width:768px) and (max-width:991px){
		       width: 351px !important;
		}
		@media (min-width:425px) and (max-width:767px){
		       width: 380px !important;
		}
	    @media (min-width:376px) and (max-width:424px){
		       width: 369px !important;
		}
		@media (min-width:321px) and (max-width:360px){
		       width: 315px !important;
		}
		@media (min-width:361px) and (max-width:375px){
		       width: 330px !important;
		}
		@media (max-width:320px){
		       width: 275px !important;  
		}  
	}
	.typeaheadTop{
	       padding: 10px;
           text-align: center;    
	}
	.typeaheadAllProducts{  
		width: 100%;
        border-top: 1px solid @osbornSearchBorderColor;
		a{
			    width: 50%;
    margin: auto;  
    text-align: center;
    border: 1px solid @osbornSearchBorderColor;
    margin-top: 9px;  
    margin-bottom: 9px;  
		}  
	}
	.typeaheadProductName{ 
		@media (max-width:991px){
			width: 100%;
		}   		
		text-align: left;
		    @media (min-width: 992px){
				top: -5px;  
				width: 75%;
    			text-align: left;
		    }
	}  
	.typeaheadProductThumbnail{  
    padding: 0px;  
	}    
	.typeahead{
	     padding: 0px;  
	    .firstResult {
		    border-top: none;  
	    }   
    	li.typeaheadProduct a{
    	    padding: 13px;    
    	    @media (max-width:991px){
    	        padding: 4px 10px;  
    	    }      
    	}  
    	.typeaheadProduct {    			
		border-bottom: none;  
	}
	}   
	
	/*** End search css ***/
	/*** Ends of header styles ***/
	/*** start Megamenu styles ***/
	#osBornHeader {
	
		.ob_about {
			.dropdown {
				padding-bottom: 30px;
			}
			.dropdown:hover {
				#ob-top-menu {
					display: block;
					padding: 19px 33px 33px 13px;
					padding: 14px 28px 28px 8px;
				}
			}
		}
		.ob_logo{
			@media screen and (min-width:768px){
				padding-left: 8px;
			}
			@media screen and (max-width:767px){
				padding-left: 8px;
				width: auto;
			}
            img {
				width: 175px;
				@media screen and (max-width:767px){
					width: 150px;
				}
				@media (min-width: 992px) {
					padding-top: 15px;
					padding-left: 10px;
				}
				@media (max-width: 991px) {
					padding-left: 10px;
    				padding-right: 10px;
				}			
			}
		} 
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		@media (max-width:991px) {
			padding-top: 20px;
			background: @HeaderBackgroundColor;
			z-index: 999999;
		}
		a {
			color: @osbornPrimaryTextColor;
			text-decoration: none;
			cursor: pointer;
		}
		#CC-megaMenu {
			.fa.fa-search {
				position: relative;
				font-size: 17px;
			}
			.mega-menu {
				margin-bottom: 0px;
				.dropdown {
					height: 75px;
				}
				.mega-menu-fullwidth-collapse {
					float: right;
					padding: 0px 15px;
				}
				.nav {
					padding-right: 20px;
					height: 48px;
					li {
						position: relative;
						padding: 0px 20px 13px;
						z-index: 9999999;
					}
					li.menu-item {
						&:hover {
							a.dropdown-toggle {
								&:before,  
								&:after {
									bottom: -27px;
									border: 20px solid transparent;
									content: " ";
									height: 0;
									width: 0;
									position: absolute;
									pointer-events: none;
									left: 35%;
									border-width: 18px;
									z-index: 9999999;
									border-left: 11px solid transparent;
									border-right: 11px solid transparent;
								}
								   &:before {       
                                    border-bottom-color:@osbornSecondaryBorderColor;
                                }  
								&:after {
									border-bottom-color: @osbornPrimaryBorderColor;
								}
							}
						}
					}
				}
				.nav>li>a {
					font-size: 16px;
					padding: 0px;
				}
				.nav>li>a,
				.nav>li>a:focus,
				.nav>li>a:hover {
					padding-bottom: 23px;
					color: @NavbarLinkHoverColor;  				
				}  
				.nav>li>a:focus,
				.nav>li>a:hover {
					background-color: @NavbarBackgroundHoverColor;
				}
				.addBorderBottom,.selectedCollection{
				    	border-bottom: 9px solid @osbornTertiaryBorderColor;  
				}
				li.cc-desktop-dropdown:hover>ul.dropdown-menu {  
					display: block !important;
					top: 69px;  
					width: 75%;
					min-width: 240px;
					padding: 0px;  
					@media (max-width: 1200px) {  
						min-width: 200px;
					}
				} 
				.dropdown.mega-menu-fullwidth:hover .dropdown-menu {
					min-width: 247px;   					
					li {
					  width: 245px;    
					}
				}
				.dropdown.mega-menu-fullwidth.ob_staticPos:hover .dropdown-menu {
					left: 18%;
				}
				.ob_staticPos.mega-menu-fullwidth:hover .dropdown-menu li {
					width: 285px;   
					@media (max-width: 1200px) {
						width: 237px;  
					}
				}
				.dropdown.mega-menu-fullwidth.last .dropdown-menu {
					@media (min-width: 1200px) {
						left: -80px;
					}
					@media (max-width:1199px) {
						left: -100px;
					}
				}
				.dropdown.mega-menu-fullwidth .dropdown-menu {
					min-height: 400px;
					background: @NavbarBackgroundColor;
					box-shadow: none;
					padding: 0;
					right: 0;
					margin: auto;
					a {
						color: @SubNavigationLinkColor;
						white-space: normal;
						background: none;
						padding: 12px 0 12px 32px;
						border-bottom: 1px solid @osbornBorderBottomColor;
					}
					.category-header.active,
					.category-header .active,
					.category-header.activefirst,
					.category-header.activefirst span {
						text-decoration: none;						
						background: @osbornPrimarybgColor;
					}
					li {
						min-height: 400px;
						position: absolute;
						top: 0px;
						padding: 0px;
						@media (max-width: 1200px) {
							min-width: 210px;
						}
					}
					.secondLevelCategory {  
						left: 33% !important;
						border-right: 1px solid @osbornSearchBorderColor;
						border-left: 1px solid @osbornSearchBorderColor;
						@media (max-width: 1200px) {
							left: 33% !important;
						}
					}
					.secondLevelCategory+li {
						left: 67% !important;
						border-left: none;
						@media (max-width: 1200px) {
							left: 66% !important;
						}
						img{
							width: 75%;
							position: absolute;
							top: 15%;
							left: 30px;
						}
					}
				}
				.dropdown-toggle:focus {
					outline: -webkit-focus-ring-color auto 1px !important;
				}
			}
		}
	}
	/*** End Megamenu styles ***/
}