#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */

  // Use class rather than id to allow multiple
  // instances of this widget on a single page.

.ob-clp-widget {

  .panel-group .panel {
    border-radius: 0 !important;
    box-shadow: none;
    border-color: @osbornClpPanelBorderColor;
}

.panel-default > .panel-heading {
    padding: 15px 10px;
    border-radius: 0 !important;  
    background-color: @osbornClpPanelBackgroundColor;
    border-color: @osbornClpPanelBorderColor;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: @osbornClpPanelBorderColor;
}

 .panel-heading  a:before {
      float: right !important;
      content:"-";
      padding-right: 5px;
      font-size: 22px;
    }
    .panel-heading  a.collapsed:before {
        float: right !important;
        content:"+";
        font-size: 22px;   
    }
}
.obproductcollections{
    margin-bottom: 15px;
}

}