#WIDGET_ID-WIDGET_INSTANCE_ID {

/** news details css **/
.ob-news-content-widget {
  .ob_breadcrumb{
  a{
    color:@osbornPrimaryTextColor;
  }
 }
.newsdetails{
  padding: 50px 0px;
  @media (max-width:991px){
    text-align: center;
  }    
}
img { 
 
  margin-bottom: 5%;
  @media (min-width:992px){
    float: left;
    margin-right: 10%;
  }
  @media (max-width: 425px){
    width: 100%;
  }
} 
.newsSection { 
  text-align: justify; 
  a{
    color: @osbornLinkFocusedTextColor;  
    cursor: pointer;
    text-decoration: none;
    @media (min-width: 768px){
      position: absolute;
      right: 35px;
      top: 20%;
    }    
  }
  .newsHeading{
    margin-bottom: 30px;
    position: relative;
  }
} 
.newsTitle{
font-size: 30px;  
  line-height: 40px;
  width: 80%;  
  @media (max-width: 1199px){
    font-size: 24px;  
    padding-bottom: 10px;    
  }
}
.newsContent{
margin-top: 35px;
line-height: 30px;
}
hr{
border-top: 1px solid @osbornBorderBottomColor;
}
}

}