#WIDGET_ID-WIDGET_INSTANCE_ID {

.ob-news-heading-widget {
    border-bottom: 1px solid @osbornSecondaryBorderColor;
    
    padding-bottom: 20px;
    h1{
       color: @osbornPrimaryTextColor;
       font-weight: 500;
       margin:0;
       padding: 0;
    }
}
.ob_breadcrumbs{
    display: inline-block;
    margin: 15px 15px 10px 0px;
    padding: 10px 10px 5px;
    border: 1px solid @osbornSecondaryBorderColor;
    .close{
         vertical-align: bottom;
         float: none;
         opacity: 0.8;
    }
    
}
.obclearallrefinements{
    color:@osbornPrimaryTextColor;
    float: right;
    line-height: 4;
    margin-top: 20px;
    cursor: pointer;
}

}