#WIDGET_ID-WIDGET_INSTANCE_ID {
.content-item-grid {
  .row {
    vertical-align: middle;

    .content-title {
      min-height: 30px;
      font-weight: bold;
    }

    .content-item {
      vertical-align: top;
      padding-bottom: 15px;

      .content-img {
        max-width: 100%;
        max-height: 100%;
      }

      .content-name {
        height: 3em;
      }

      .content-description {
         min-height: 4em;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 3px;
        white-space: nowrap;
      }
    }

    h2 {
      margin-bottom: 0;
    } 
  }  
}

}