#WIDGET_ID-WIDGET_INSTANCE_ID {
 /** Collection left nav widget styles  **/
 #ob-collection-leftnav-widget{
    .left-Nav{
      padding: 30px 15px;
      ul{
        padding: 0px;
        .categoriesList{
          border-bottom: 1px solid;
          cursor:pointer;
          list-style-type: none;
          a{        
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 20px;
            &:visited,&:focus{
              color:@TextColor;
              outline: none;
            }
          }
         } 
         .categoriesList:hover{
          background: @osbornPrimarybgColor;
         }
      }
      h1{
        font-weight:500;
        font-size: 33px;
        color: @osbornPrimaryTextColor;
        margin-top: 0px;
      @media screen and (min-width:768px){
        margin: 0 0 24%;
      }  
      }
     .selectedCategory{
      background: @osbornPrimarybgColor;
     }
    }
}
}