#WIDGET_ID-WIDGET_INSTANCE_ID {
    
/*** News and Events css ***/  
  .ob_newsCarousel{  
    margin:auto;      
    padding-top: 30px;       
    padding-bottom: 40px;   
    @media (max-width:991px){
        padding-top: 15px;      
        padding-bottom: 20px;     
    }    
    h3{  
        @media (min-width:1024px){
            margin-right: 25px;           
        }   
        font-weight: 500;      
        margin-bottom: 30px;
        font-size: 21px;  
        line-height: 30px;    
    }           
    .ob_products-container{      
    .product-wrapper{
        a{
           cursor: pointer;
        }  
        .banner_label{  
            margin: 0 30px 0 15px;
            position: absolute;
            top: 24px;
            color: @osbornSecondaryLinkColor;  
            padding: 0px 15px;  
            background: @osbornPrimaryLabelBackgroundColor;
            opacity: 0.7;
        }
        img{          
            height:194px;
         @media screen and (min-width:992px){
            width: 100%;
         }  
         @media screen and (max-width:991px){
            margin: 0 auto;
         } 
        }
        border-bottom: 1px solid @osbornSecondaryBorderColor;     
        @media (min-width:768px){  
            margin-left: 15px;     
            margin-right: 15px;     
        }      
        @media (max-width: 991px){    
            margin-bottom: 20px;      
        }  
        .item-description{      
            margin-top: 30px;   
            margin-bottom: 20px;    
            overflow: hidden;
            text-overflow: ellipsis; 
            height: 45px;
            white-space: normal;  
        }         
        .item-date{        
            margin-bottom: 30px;      
        }      
    }  
}  
}   
}