#WIDGET_ID-WIDGET_INSTANCE_ID {
#ob-category-details-widget {
    @media (min-width:768px){
        padding: 30px 0px 30px 30px;
    }    
  
    .categoryDetails{
        padding-bottom: 15px;
    }
    img{
        width: 100%;
    }
}

}