#WIDGET_ID-WIDGET_INSTANCE_ID {
#cc-notifications {
  #cc-notifications-panel {
    left: 0;
    right: 0;
  }
}
#cc-notifications.fixed-to-top {  
  position: fixed;
  top: 0px;  
  z-index: 1000;
      width: 100%;
    left: 0;
}
}