#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */

  // Use class rather than id to allow multiple
  // instances of this widget on a single page.

.ob-wishlist-widget {
  
}
#removeItem,#lastItem{
  z-index: 9999;
}
}