#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */
  .ob-news-listing-widget{
    padding-bottom: 30px;
  }
  .obnewslistview{
    border-bottom: 1px solid @osbornBorderBottomColor;
    padding: 50px 0px;
    margin: 0px 15px;
    a{
      color:@osbornLinkFocusedTextColor;
      cursor: pointer;
    }
    h4{
      margin-top: 0px;
    }
    img{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .ob-news-content{
      max-width: 500px;
      text-align: justify;  
    }
  }
  #cc-paginated-controls {
    margin: 15px 0px;
    .btn:focus {
      border: 1px solid;
    }
    .btn-group>.btn {
      border: none;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
      color: @osbornButtonGridColor;
      background-color: @osbornPrimaryButtonbgColor;
      box-shadow: none;
    }
  }
  #CC-noSearchResults-display {
    .suggestionstyling{
        margin-bottom: 40px;   
        h3{
            font-weight: 500;
      color: @osbornPrimaryTextColor;
        }
        ul{
            padding-left:20px;  
            
            li{
                font-size: 16px;
            }
        }
    }
      
  }
}