#WIDGET_ID-WIDGET_INSTANCE_ID {
.career{
    margin: 10% 0;
    @media screen and (max-width:767px){
	    margin: 5% 0 10%;
	}
    h3{
       font-weight: 500;
       font-size: 20px;
       color:@osbornPrimaryTextColor; 
    }
    img{
       margin:25px 0; 
    }
    p{
     color:@osbornPrimaryTextColor;    
    }
	 .viewJobs{
     margin: 4% 0; 
 a{   
    padding: 5px 30px;
    border: 1px solid @osbornTertiaryBorderColor;
    color: @osbornPrimaryTextColor;
  }
 }
  @media screen and (max-width:767px){   
    .viewJobs{   
      margin: 7% 0 9%;
      }
    } 
}  
}