/***OsBorn Theme***/
/** Label and text  Color Styling */
@osbornPrimaryTextColor: #4A4A4A;
@osbornPrimaryLabelTextColor: #4A4A4A; 
@osbornPrimaryHeadingTextColor: #4A4A4A;
@osbornSecondaryTextColor: #ffffff;   
/* Border Styling */ 
@osbornPrimaryBorderColor: #fff;
@osbornSecondaryBorderColor: #4A4A4A;  
@osbornTertiaryBorderColor: #4A4A4A;

/** link styling */
@osbornLinkFocusedTextColor: #000000;
@osbornLinkFocusedOutlineColor: #231F20;
@osbornPrimaryLinkColor: #4A4A4A;  
@osbornPlaceholderTextColor: #4A4A4A; 
 
@osbornPrimaryButtonHoverTextColor : #e5e5e5;
@osbornPrimaryButtonDisabledTextColor : #ffffff;
@osbornPrimaryArrowColor: #cccccc;  
@osbornPrimaryLabelBackgroundColor: #ffffff;

@osbornSecondaryButtonHoverTextColor : #e5e5e5;
@osbornSecondaryButtonDisabledTextColor : #ffffff;
@osbornTertiaryButtonHoverTextColor : #e5e5e5;  
@osbornTertiaryButtonDisabledTextColor : #ffffff;
@osbornTertiaryButtonBackgroundColor: #0057B8;      
@osbornTertiaryButtonTextColor: #ffffff;      
@osbornTertiaryButtonOutlineColor: #0057B8;   


/** other Styling */
@osbornPlaceholderTextColor: #e5e5e5;  
@osbornPrimaryArrowColor: #cccccc;
@osbornRadioCheckboxBackgroundColor: #4A4A4A;

/** Hero Banner **/
@osbornBackgroundColor: #0057b8;

/** GDPR Banner **/
@osbornGDPrBackgroundColor: #ffffff;

/** wishlist **/
@osbornwishlistItemBorderColor: #446df3;
@osbornwishlistItemTextColor: #446df3;
  
/** SkuTable **/
@osbornTableEvenRowbgColor: #f9f9f9;
@osbornDropdownBackgroundColor: #ffffff;
  
/* about-us */
@osbornPrimarybgColor: #e5e5e5; 
@osbornPrimaryTextColor: #4A4A4A;
@osbornSecondaryLinkColor: #0057B8;   
@osbornPrimaryButtonbgColor: #ffffff;  
 
/* news details **/
@osbornBorderBottomColor: #e5e5e5;

/** Header **/  
@osbornSearchBorderColor: #cccccc;
@osbornTableBorderBottomColor:#f7f7f7;
    
/* Dealer locator **/
@osbornButtonGridColor: #4A4A4A;

/** Clp **/
@osbornClpPanelBorderColor: #eeeeee;
@osbornClpPanelBackgroundColor: #FAFAFA;
@osbornPanelHeadingBackgroundColor: #ffffff;


/*** font-family ***/
body {  
    font-family: Helvetica, Arial, sans-serif !important;  
    @media (min-width:991px){  
    overflow-x: hidden;
    }
}
@media (max-width:991px){ 
#page{
    width: 100%;
  }
}    

.btn-color{      
    height:30px !important;
    background-color:@osbornPrimaryButtonbgColor;
    font-size: 13px;
    font-weight: 500;   
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 0;
    color: @osbornPrimaryTextColor;
    border: 1px solid @osbornPrimaryTextColor;
}

//Links
a {
  color: @osbornPrimaryLinkColor;
}
a:hover{
  text-decoration: none;
  color: @osbornLinkFocusedTextColor;
}
a:visited{
  color: @osbornLinkFocusedTextColor;
}

/*** common class to remove container in all pages ***/
.removeContainer{        
    width: 100%;  
    margin: 0 auto;   
}




/*** common class for border left ***/
@media screen and (min-width:768px){
  .borderLeft{
    border-left:1px solid @osbornPrimaryTextColor;
  }  
}

/*** class to bold content in  breadcrumb ***/
#breadcrumbTrail{
  span:last-child{
    font-weight: bold;
  }
}

.text-danger{
  padding-top: 5px;
}

.pad0{
  padding: 0px;
}

.borderNone{
  border: 0 !important;
}



@media (max-width: 767px){
.storefront-sidenav {
    margin-top: 0px;
}
}

/*** common osborn css classes ***/ 
/** for full width */   

.ob_fullWidth{
    @media (min-width:992px) and (max-width:1024px){     
    margin-left: calc(-50vw);
    margin-right: calc(-51vw);  
    margin-left: -webkit-calc(-4vw);
    margin-right: -webkit-calc(-4vw);
    margin-left: -moz-calc(-50vw);         
    margin-right: -moz-calc(-51vw);
}  
@media (min-width:1024px) and (max-width:1200px){     
  margin-left: calc(-11vw);       
  margin-right: calc(-11vw);  
  margin-left: -webkit-calc(-11vw);
  margin-right: -webkit-calc(-11vw);  
  margin-left: -moz-calc(-50vw);    
  margin-right: -moz-calc(-51vw);    
} 

@media (min-width:1201px) and (max-width: 1366px){
    margin-left: calc(-8vw);     
    margin-right: calc(-8vw);     
    margin-left: -webkit-calc(-8vw);
    margin-right: -webkit-calc(-8vw);  
    margin-left: -moz-calc(-50vw);  
    margin-right: -moz-calc(-51vw);    
}
@media (min-width:1367px) {
    margin-left: calc(-25vw);     
    margin-right: calc(-25vw);  
    margin-left: -webkit-calc(-23vw);
    margin-right: -webkit-calc(-24vw);  
    margin-left: -moz-calc(-50vw);  
    margin-right: -moz-calc(-51vw);    
}
}    
.ob_staticPos{  
    position: static !important;
}    
.ob_heroImage{
    width: 100%;
}  
.ob_primaryHeadingColor{  
    color: @osbornPrimaryHeadingTextColor;  
}  
.pad0{
    padding:0px;    
}
.ob_carouselArrow:before{    
    color: @osbornPrimaryArrowColor;  
}  
.ob_capsWord{  
    text-transform: uppercase;    
}      
.ob_secColor{
    color: @osbornSecondaryTextColor;              
}
.btn-primary,.btn-primary:hover,.btn-primary:focus{  
    background: center;
    border: 1px solid @osbornPrimaryBorderColor;
    padding: 3px 25px;      
    outline: none;
}  

/** custom radio button styles **/
.product-news-search{
    margin: 20px auto;    
 h4{
    margin-bottom: 15px !important;
    font-weight: 500; 
 }    
 label span{        
     font-weight: 500;
     color: @osbornPrimaryTextColor;
 }
/* The container */
.containerradio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.containerradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: white;
  position: absolute;
  border: 1px solid #4A4A4A;
  left: 0;
  top: 0;  
}

/* On mouse-over, add a grey background color */
.containerradio:hover input ~ .checkmark {
  background-color: #ccc;
}



/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerradio input:checked ~ .checkmark:after {   
  display: block;
}

/* Style the indicator (dot/circle) */
.containerradio .checkmark:after {
    width: 15px;
    top: -1px;
    height: 15px;
    background:@osbornTertiaryBorderColor;
}

}

/*** 404 error styles ***/
.errorMsg {    
  background: none !important;
  text-align: center;
  margin: 4% auto 14%;
  @media screen and (min-width:768px){
      width: 45%; 
      margin: 4% auto 8%;
  }
  p {
    font-size:20px;
    color:@osbornPrimaryTextColor;
  }
  .error-Msg{
    font-size: 11em;
  }
  a{
    padding: 9px 20px;
    border: 1px solid @osbornTertiaryBorderColor;
    color:@osbornPrimaryTextColor;
  }
  a:hover{   
      text-decoration:none;
  }
}

/*** Home Banner carousel css***/  
.carousel-indicators {    
			@media (min-width: 1200px) {   
				bottom: 30px;
			}  
			@media only screen and (min-width:768px) and (max-width:1199px) {
				bottom: 5px;
			}
			@media (max-width:767px) {   
				bottom: 0px;
			}
		}
		.carousel-control {
			background-image: none;
			&:hover {
				opacity: 0.5;
			}  
    }
    
    
/*** select box arrow for IE **/
select::-ms-expand {
    background:none;
    border:none;
    display: none;
}
    
  /*
    * Product Group CSS
  */
  .ob-product-group-title {
    color: @osbornPrimaryHeadingTextColor;
  }
  .ob-marginBtm30 {
    margin-bottom: 30px;
  }
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: @osbornPrimaryLabelBackgroundColor;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
  }
  .card-img-top {
    width: 100%;
    height:100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    //padding: 1.25rem;
  }
  .card-title {
    margin-bottom: 0.75rem;
    color: @osbornPrimaryHeadingTextColor;
  }
/** News Error Message Styling */
.obnonewsfound{
  padding-top: 30px;  
  span{   
    font-size: 20px;
    font-weight: 500;
  }
}   
 /*
     * 	Core Owl Carousel CSS File
     *	v1.3.3  
     */


    /* clearfix */
    .owl-carousel .owl-wrapper:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    /* display none until init */
    .owl-carousel {
      display: none;
      position: relative;
      width: 100%;
      -ms-touch-action: pan-y;
    }
    .owl-carousel .owl-wrapper {  
      display: none;
      position: relative;
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    .owl-carousel .owl-wrapper-outer {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .owl-carousel .owl-wrapper-outer.autoHeight {
      -webkit-transition: height 500ms ease-in-out;
      -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
      -o-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }

    .owl-carousel .owl-item {
      float: left;
    }
    .owl-controls .owl-page,
    .owl-controls .owl-buttons div {
      cursor: pointer;
    }
    .owl-controls {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* mouse grab icon */
    .grabbing {
      cursor: url(grabbing.png) 8 8, move;
    }

    /* fix */
    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
    }

    /*
    * 	Owl Carousel Owl Demo Theme
    *	v1.3.3
    */

    .owl-theme .owl-controls {
      margin-top: 10px;
      text-align: center;
    }

    /* Styling Next and Prev buttons */

    .owl-theme .owl-controls .owl-buttons div {
      color: @osbornSecondaryTextColor;
      display: inline-block;
      zoom: 1;
      *display: inline; /*IE7 life-saver */
      margin: 5px;
      padding: 0;
      font-size: 36px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      filter: Alpha(Opacity=50); /*IE7 fix*/
      opacity: 0.5;
    }
    /* Clickable class fix problem with hover on touch devices */
    /* Use it for non-touch hover action */
    .owl-theme .owl-controls.clickable .owl-buttons div:hover {
      filter: Alpha(Opacity=100); /*IE7 fix*/
      opacity: 1;
      text-decoration: none;
    }

    /* Styling Pagination*/

    .owl-theme .owl-controls .owl-page {
      display: inline-block;
      zoom: 1;
      *display: inline; /*IE7 life-saver */
    }
    .owl-theme .owl-controls .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      filter: Alpha(Opacity=50); /*IE7 fix*/
      opacity: 0.5;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #869791;
    }

    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
      filter: Alpha(Opacity=100); /*IE7 fix*/
      opacity: 1;
    }

    /* If PaginationNumbers is true */

    .owl-theme .owl-controls .owl-page span.owl-numbers {
      height: auto;
      width: auto;
      color: @osbornSecondaryTextColor;
      padding: 2px 10px;
      font-size: 12px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
    }

    /* preloading images */
    .owl-item.loading {
      min-height: 150px;
      background: url(AjaxLoader.gif) no-repeat center center
    }

  
    /*
     *  Owl Carousel CSS3 Transitions
     *  v1.3.2
     */

    .owl-origin {
      -webkit-perspective: 1200px;
      -webkit-perspective-origin-x: 50%;
      -webkit-perspective-origin-y: 50%;
      -moz-perspective: 1200px;
      -moz-perspective-origin-x: 50%;
      -moz-perspective-origin-y: 50%;
      perspective: 1200px;
    }
    /* fade */
    .owl-fade-out {
      z-index: 10;
      -webkit-animation: fadeOut .7s both ease;
      -moz-animation: fadeOut .7s both ease;
      animation: fadeOut .7s both ease;
    }
    .owl-fade-in {
      -webkit-animation: fadeIn .7s both ease;
      -moz-animation: fadeIn .7s both ease;
      animation: fadeIn .7s both ease;
    }
    /* backSlide */
    .owl-backSlide-out {
      -webkit-animation: backSlideOut 1s both ease;
      -moz-animation: backSlideOut 1s both ease;
      animation: backSlideOut 1s both ease;
    }
    .owl-backSlide-in {
      -webkit-animation: backSlideIn 1s both ease;
      -moz-animation: backSlideIn 1s both ease;
      animation: backSlideIn 1s both ease;
    }
    /* goDown */
    .owl-goDown-out {
      -webkit-animation: scaleToFade .7s ease both;
      -moz-animation: scaleToFade .7s ease both;
      animation: scaleToFade .7s ease both;
    }
    .owl-goDown-in {
      -webkit-animation: goDown .6s ease both;
      -moz-animation: goDown .6s ease both;
      animation: goDown .6s ease both;
    }
    /* scaleUp */
    .owl-fadeUp-in {
      -webkit-animation: scaleUpFrom .5s ease both;
      -moz-animation: scaleUpFrom .5s ease both;
      animation: scaleUpFrom .5s ease both;
    }

    .owl-fadeUp-out {
      -webkit-animation: scaleUpTo .5s ease both;
      -moz-animation: scaleUpTo .5s ease both;
      animation: scaleUpTo .5s ease both;
    }
    /* Keyframes */
    /*empty*/
    @-webkit-keyframes empty {
      0% {
        opacity: 1
      }
    }
    @-moz-keyframes empty {
      0% {
        opacity: 1
      }
    }
    @keyframes empty {
      0% {
        opacity: 1
      }
    }
    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @-moz-keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @-webkit-keyframes backSlideOut {
      25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
      }
      75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
      }
      100% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
      }
    }
    @-moz-keyframes backSlideOut {
      25% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
      }
      75% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
      }
      100% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
      }
    }
    @keyframes backSlideOut {
      25% {
        opacity: .5;
        transform: translateZ(-500px);
      }
      75% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
      }
      100% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
      }
    }
    @-webkit-keyframes backSlideIn {
      0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
      }
      75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
      }
    }
    @-moz-keyframes backSlideIn {
      0%, 25% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(200%);
      }
      75% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
      }
      100% {
        opacity: 1;
        -moz-transform: translateZ(0) translateX(0);
      }
    }
    @keyframes backSlideIn {
      0%, 25% {
        opacity: .5;
        transform: translateZ(-500px) translateX(200%);
      }
      75% {
        opacity: .5;
        transform: translateZ(-500px);
      }
      100% {
        opacity: 1;
        transform: translateZ(0) translateX(0);
      }
    }
    @-webkit-keyframes scaleToFade {
      to {
        opacity: 0;
        -webkit-transform: scale(.8);
      }
    }
    @-moz-keyframes scaleToFade {
      to {
        opacity: 0;
        -moz-transform: scale(.8);
      }
    }
    @keyframes scaleToFade {
      to {
        opacity: 0;
        transform: scale(.8);
      }
    }
    @-webkit-keyframes goDown {
      from {
        -webkit-transform: translateY(-100%);
      }
    }
    @-moz-keyframes goDown {
      from {
        -moz-transform: translateY(-100%);
      }
    }
    @keyframes goDown {
      from {
        transform: translateY(-100%);
      }
    }

    @-webkit-keyframes scaleUpFrom {
      from {
        opacity: 0;
        -webkit-transform: scale(1.5);
      }
    }
    @-moz-keyframes scaleUpFrom {
      from {
        opacity: 0;
        -moz-transform: scale(1.5);
      }
    }
    @keyframes scaleUpFrom {
      from {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    @-webkit-keyframes scaleUpTo {
      to {
        opacity: 0;
        -webkit-transform: scale(1.5);
      }
    }
    @-moz-keyframes scaleUpTo {
      to {
        opacity: 0;
        -moz-transform: scale(1.5);
      }
    }
    @keyframes scaleUpTo {
      to {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    .owl-prev {
      height: 40px;
      left: -30px;
      position: absolute;
      top: 30%;
      width: 30px;
      z-index: 99;
      opacity:100;
  }
  
  .disabled{
    opacity: 0.5 !important;
    cursor: auto !important;
  }

.owl-next {         
      height: 40px;
      position: absolute;
      right: -15px;
      top: 30%;
      width: 30px;
      z-index: 99;
      opacity:100;
  }

/* custom solutions widget less/css */

.ob-home-custom-solutions-widget{     
background: #062e60; /* Old browsers */
background: -moz-linear-gradient(top,  #062e60 4%, #0056b8 25%, #5cabdc 47%, #64afdb 50%, #5cabdc 53%, #0056b8 75%, #062e60 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #062e60 4%,#0056b8 25%,#5cabdc 47%,#64afdb 50%,#5cabdc 53%,#0056b8 75%,#062e60 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #062e60 4%,#0056b8 25%,#5cabdc 47%,#64afdb 50%,#5cabdc 53%,#0056b8 75%,#062e60 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062e60', endColorstr='#062e60',GradientType=0 ); /* IE6-9 */
  background-repeat: round;    
  padding: 5% 0 6%;
  .owl-carousel-tile{
  @media screen and (min-width:768px)  {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  } 
  a{
    color: @osbornSecondaryTextColor;
    cursor: pointer;    
  }
  }
  .cc-product-detail{   
@media screen and (min-width:768px){      
    width:50% ;  
}   
img{
    @media screen and (max-width:767px){         
            width: 50%; 
            height: 182px;
    }
    @media screen and (min-width:768px){         
      height: 97px !important;
    }
}
   padding-bottom: 15px;
  }
  .cc-product-title{   
    margin-bottom: 10px;  
      h4{      
        font-size: 21px; 
        font-weight: 500;
        color:@osbornSecondaryTextColor;
        margin-bottom: 0px;
      }   
      .border-Btm{         
        border-bottom: 1px solid @osbornPrimaryBorderColor;
        width: 33%;
        margin:10px 0 20px;
        @media (max-width: 479px){
          width: 100%;
        }
      }
  }
  .cc-product-description{            
     p{
        margin-bottom: 20px; 
        color:@osbornSecondaryTextColor;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 65px;
        white-space: normal;
      } 
  }
  .content-Heading{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0 0 5%;
    @media screen and (min-width:768px) and (max-width:991px){
        width:86%;
    }    
    h3{   
        font-weight: 500;
        font-size:32px;
        line-height: 35px;
        margin-bottom: 20px;
        color:@osbornSecondaryTextColor;
        text-transform: uppercase;
        word-break: break-word;
    } 
    p{          
        font-size:21px; 
        color:@osbornSecondaryTextColor;
    }   
  }
}   

/** wishlist widget styles **/ 
    #ob-wishlist-widget{
      .pageTitle{
      @media screen and (min-width:768px){
        border-bottom: 1px solid @osbornSecondaryBorderColor;
        margin-bottom: 30px;
      }  
        margin-bottom:10px;
        h1{    
          padding: 0 15px;
          margin: 0 0 20px;
          font-weight: 500;
          font-size: 33px;
          color: @osbornPrimaryTextColor;
        }
      }
      .wishlist-centerContent{
        @media screen and (min-width:768px){
          margin-bottom: 5%;
          margin-top: 5%;
        } 
        .noData{
        @media screen and (min-width:768px){
           padding-right: 0px; 
        }  
          h1{
            font-weight: 500;
            font-size: 33px;
            color:@osbornPrimaryTextColor;
            margin: 0px;
          }
        }
        .product-Details{
          .product-image{
            padding: 0px;
          }
          .product-Content{
             p{
                color:@osbornPrimaryTextColor; 
             } 
          }
      .links{
        margin-bottom: 30px;
        @media screen and (max-width:767px){
          padding: 15px 15px 0;
        }  
        border-bottom: 1px solid;
        padding-bottom: 20px;
       ul{
        padding: 0px;
        float: right;
        li{
          display: inline-block;
          text-transform: capitalize;
          cursor: pointer;
          span{
            color:@osbornPrimaryTextColor;  
          }
          a{
            padding-right: 20px;
            color:@osbornPrimaryTextColor;
          }
          a:hover{
            text-decoration: none;
          }
        }
       }
      }  
        }
      .request-Form{
        @media screen and (min-width:768px){
          border : 1px solid @osbornSecondaryBorderColor;
          padding: 15px;
        }  
          padding: 15px 15px 30px;
        h3{
          font-weight: 500;
          margin: 10px 0 20px;
          color:@osbornPrimaryTextColor;
        }
        form .controls{
          margin-bottom: 15px;
          label{
            font-weight: 500;
            color:@osbornPrimaryTextColor;
          }
          input{
            border-radius: 0;
            box-shadow: none;
            border: 1px solid @osbornSecondaryBorderColor;
          }
          textarea{
            width: 100%;
            border: 1px solid @osbornSecondaryBorderColor;
            padding-left: 10px;
          }
        }
        .phone-no{
            label{
                display: block;
            }
            select{
                display: inline-block;
                height: 34.4px; 
                border: 1px solid @osbornSecondaryBorderColor;
                font-size: 14px;
                color:@osbornPrimaryTextColor;
                background-image: linear-gradient(45deg, transparent 50%, @osbornLinkFocusedTextColor 0%), linear-gradient(135deg, @osbornLinkFocusedTextColor 50%, transparent 50%), linear-gradient(to right, @osbornLinkFocusedTextColor, @osbornLinkFocusedTextColor);
                background-position: calc(90%) calc(1em), calc(95%) calc(1em), calc(97.5%) 0.5em;
                background-size: 5px 5px, 5px 5px, 0px 0px;
                background-repeat: no-repeat;
                padding: 4px 22px 4px 5px !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color:@osbornPrimaryLabelBackgroundColor;
                border-radius: 0 ;
                @media screen and  (max-width:500px){
                  background-position: calc(91%) calc(1em),calc(95%) calc(1em),calc(97.5%) .5em;
              }
              @media screen and (min-width:501px) and (max-width:767px){
                background-position: calc(92.5%) calc(1em),calc(95%) calc(1em),calc(97.5%) .5em;
              }
            }
            select:focus{
              outline: none;
            }
            input{   
                width: 66%;
                display: inline-block;
            }
        }
        .sendRequest{
          button{
            float: right;
            background: @osbornPrimaryButtonbgColor;
            border-radius: 0;
            border: 1px solid @osbornSecondaryBorderColor;
            padding: 5px 10px;
          }
          button:disabled {
            background:@osbornPrimarybgColor;
          }
        }
      }
      } 
    }
   
/** about us widget styles **/

#about-us{         
    background: @osbornPrimarybgColor;   
    padding: 6% 0 4.5%;
    .content{      
      p{      
         color: @osbornPrimaryTextColor;  
         line-height: 2;
         font-size:17.5px;
      }
      .link{      
        padding: 20px 15px 15px;
        text-align: center;        
          a{
             font-size: 16px;
             color:@osbornSecondaryLinkColor;  
             cursor:pointer;
           } 
      }
    } 
}

/** product details widget styles **/
  #ob-product-details-widget_1{
    margin-top: 10px; 
    @media screen and (max-width:991px){  
      .panel-2{
          margin-top: 30px;
      }
    }
    .ccz-small {
      width: 100%;
    }
      #CC-prodDetails-displayName{    
          h2{
            margin:0 0 20px;
            color:@osbornPrimaryHeadingTextColor;
            font-weight: 500;
            text-transform: capitalize;
          }
      }
      #CC-qualityLineStars{
        margin-bottom: 20px;  
        span:nth-child(1){
          padding-right: 10px;
        }
        .star{
          font-size: 15px;
        }
        .checked{
          opacity: .4;
        }
      }
	  #CC-prodDetails-description{
      margin-bottom: 20px;
	    p{
		  color:@osbornPrimaryTextColor;
          }		
	  }
	  #CC-prodDetails-advantages{    
	     margin-bottom: 20px; 
	      ul{
	        padding-left: 15px; 
	        li{
            color:@osbornPrimaryTextColor;
            padding-bottom: 3px;
	        }
	      }
    }
    #CC-prodDetails-addititonalseals{
      display: inline-block;
      margin-bottom:20px;
      width: 100%;
      img{
        padding-left: 0px;
        width: 70px;
      }
    }
	   #CC-prodDetails-applicationtext{
      h5{
        margin: 0px;
        display: inline-block;
        color:@osbornPrimaryTextColor;
      }
	    span{
		  color:@osbornPrimaryTextColor;
          }		
    }
    #CC-download{
      margin-top: 5px;
      a{
        display: block;
        padding: 15px 0 0; 
        color:@osbornPrimaryTextColor;
      }
      a:hover{
        text-decoration: none;
      }
    }
    .carousel-inner{
      margin-top: 10px;
    }
    .carousel-control.left,.carousel-control.right{
      background: none !important;
      width: 20px;
    }
    .thumbnail-container a{
      border: 0px;
    }
    .thumbnail-container a:focus{
      outline:0;
    }
    .left {
      z-index: 9999;
    }
    .cc-left-arrow {
      top: 28px;
      right: 4px;
      position: relative;
      font-size: 24px !important;
    }
    .cc-right-arrow {
      top: 28px;
      left: 4px;
      position: relative;
      font-size: 24px !important;
    }
  }

  /** contact left nav widget styles  **/
  #ob-contact-leftnav-widget{
          h1{
            font-weight: 500;
            font-size: 33px;
            color: @osbornPrimaryTextColor;
            margin-top: 0px;
          @media screen and (min-width:768px){
            margin: 0 0 24%;
          }  
          }
        .left-Nav{
          padding: 0 15px;
          ul{
            padding: 0px;
            .names{
              padding: 10px 0 10px 20px;
              border-bottom: 1px solid @osbornTertiaryBorderColor;
              cursor:pointer;
              list-style-type: none;
             } 
             .names:hover{
              background: @osbornPrimarybgColor;
             }
          }
        }
        .bgColor{
          background: @osbornPrimarybgColor;
        }
  }


  /** Contact widget styles**/
    #oB-Contact{        
        margin: 0 auto 5%;
  @media screen and (min-width:768px){
    .ob-contact-container{       
    .row{
        margin-bottom:40px; 
        display: flex;  
    }
  }
  }      
    .ob-message{
        margin-bottom: 30px;
        p{
            color: @osbornPrimaryTextColor;   
            font-size: 30px;
        }
    }
      @media screen and (min-width:768px){
        width: 85%;
        margin: 9% auto 5%;
      }  
      @media screen and (min-width:768px){    
        .border-Left{
            border-left:1px solid @osbornSecondaryBorderColor;
          h4{
            margin-left: auto;
            margin-right: auto;
            width: 8em;
          }   
          p{
            margin-left: auto;
            margin-right: auto;
            width: 10em;
          }
        }
      }
        h4{
           color:@osbornPrimaryHeadingTextColor;
            font-weight: 500;
        }
    	.contact-Form{
    	   margin:0px;
    	   h3{
            margin-bottom: 20px;
            font-weight: 500;
    	   }
    	   .controls{   
    	      margin-bottom: 30px;
    	      label{
    	         font-weight: 500; 
    	      }
              input{
        	    @media screen and (min-width:768px){      
        	        width: 65%;
        		}	
    			border-radius: 0;
    			box-shadow: none;
    			border: 1px solid;
    	     }
    	     textarea{               
                display: block;
                border: 1px solid @osbornSecondaryBorderColor; 
                width:100%;
                padding-left: 10px;
                @media screen and (min-width:768px){         
        	        width: 65%;
        		}
    	     }
    	   }
    	       .phone-no{
            label{   
                display: block;
            }
            select{     
                display: inline-block;
                height: 34px;  
                border: 1px solid @osbornSecondaryBorderColor;
                font-size: 14px;
                color:@osbornPrimaryTextColor;  
                background-image: linear-gradient(45deg, transparent 50%, @osbornLinkFocusedTextColor 0%), linear-gradient(135deg, @osbornLinkFocusedTextColor 50%, transparent 50%), linear-gradient(to right, @osbornLinkFocusedTextColor, @osbornLinkFocusedTextColor);
                background-position: calc(90.5%) calc(1em), calc(95%) calc(1em), calc(97.5%) 0.5em;
                background-size: 5px 5px, 5px 5px, 0px 0px;
                background-repeat: no-repeat;
                padding: 4px 22px 4px 5px !important;
                border-radius: 0 ;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color:@osbornPrimaryLabelBackgroundColor;
                @media screen and  (max-width:500px){
                  background-position: calc(91%) calc(1em),calc(95%) calc(1em),calc(97.5%) .5em;
              }
              @media screen and (min-width:501px) and (max-width:767px){
                background-position: calc(92.5%) calc(1em),calc(95%) calc(1em),calc(97.5%) .5em;
              }
            }
            select:focus{
              outline: none;
            }
            input{   
                width: 48%;
                display: inline-block;
             @media screen and (max-width:767px){         
        	        width:66%;
        		}    
            }
          }   
    	   .submit{  
    	       @media screen and (min-width:768px){       
        	        width: 65%;
        		}
        		button{   
        		    float: right;
        		    background: @osbornPrimaryButtonbgColor;
                    border-radius: 0;
                    border: 1px solid;
                    width: 100px;
                    padding: 5px 0;
        		}
    	   }
    	}
    }    
    /* to hide input type number arrows - Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {        
      -webkit-appearance: none;
      margin: 0;
    }
    
    /*to hide input type number arrows - Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }


 /* Footer widget css */
.ob-footer-widget {
   .ob-footer-bottom 
       {  
  @media screen and (min-width:991px) {
    margin:0px; 
  }      
     background: #E5E5E5;
     border-top: 1px solid #DDDDDD;
     padding-top: 60px;
     padding-bottom: 60px;
    @media screen and (max-width:767px){   
      padding-top: 40px;
      padding-bottom: 40px;
      }   
    @media screen and (min-width:768px){
     a {
      padding :15px 10px !important;
      @media  screen and (max-width: 767px) { 
          width:100%;   
          display: inline-block;
          padding :15px 0px !important;
      }
    }
   } 
   .pull-left{   
    @media screen and (max-width:767px){
       width: 100%;  
    }  
    p{       
     padding-top: 6px;
     color:@osbornPrimaryTextColor;
     @media screen and (max-width:767px){   
      margin-bottom: 5px;
      }  
   }
   }
   .ob-footer-tag{       
     @media screen and (max-width:767px){   
      clear: both;
      padding-top:0;
      }
      @media screen and (min-width:768px){        
          float: right;
      } 
      padding-top:4%;
    @media screen and  (min-width:768px) and (max-width: 991px) {               
         padding-top: 6%;  
    }  
    ul{
      padding: 0px;
      li{
        list-style-type: none;
        display: inline-block;
        @media screen and (max-width:767px){
          display: block;
          padding-bottom:20px;
        } 
        a{
          color:@osbornPrimaryTextColor; 
        }
      }
    }
      p{
        padding-top: 6px;
      }
    }
   }
  }


/* home-product widget css/less */

.ob-home-products-widget{      
    margin-left: auto;
    margin-right: auto;
@media screen and (min-width:1019px){    
    width: 60%;
}
@media screen and (min-width:768px) and (max-width:1018px){    
    width: 85%;
}
    h3{
      text-align: center;
      font-weight: 500;
      color: @osbornPrimaryHeadingTextColor;
      font-size: 21px;
      margin: 7% 0 6%;
    }
    .marginBtm15{ 
        margin-bottom: 6%;
        h4{                       
            color:@osbornLinkFocusedTextColor; 
            margin: 17px 0; 
            text-transform: capitalize;
        }
        a:hover{          
         text-decoration: none;   
        }
        button{                
            padding: 0px 17px;
            .btn-color;
        @media screen and (min-width:768px) and (max-width:1221px){
             padding: 0px 7px;
        }   
        }
        img{   
            @media screen and (min-width: 768px) {
                width: 130px;
                height: 130px;
            }            
        }
    }
    .view-all-products{   
        text-align: center;
        padding-bottom: 6%;
        a{
          color:@osbornLinkFocusedTextColor;   
          font-size: 18px;
        }    
    }
}


/*** Start Multi level push menu styles ***/

@media(max-width:991px) {
	.site-outer {
		float: left;
		clear: left;
		width: 100%;
		position: relative;
		left: 0;
		height: 100%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		cursor: pointer;
		overflow-x: hidden;
  }
  .mp-menu {
    position: absolute;
    top: 0;  
    left: 0;
    z-index: 1;  
    width: 300px;  
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    line-height: 1.6;
    .fa.fa-chevron-right {
      font-size: 14px;
    }
}
	.site-outer.mp-pushed:after {
		content: '';
		width: 100%;  
		height: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	.mp-pushed {
		position: fixed;
		-webkit-overflow-scrolling: touch;
	}
	.mp-level {
		position: absolute;
	    top: 0px;  
		left: 0;
		width: 100%;
		height: 100vh;
		overflow-y: scroll;  
		padding-bottom: 50px;
		text-align: left;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);  
		li {
			border-bottom: 1px solid @osbornSecondaryBorderColor;  
		}
		.mega-nav-multi-push-cat {
			&:hover {
				background: rgba(0, 0, 0, 0.1);
      }
      a{
        color: @osbornPrimaryTextColor;
        text-decoration: none;
        cursor: pointer;
      }
		}
	}
	.mp-level li:before {
		content: none;
	}
	/* overlays for pusher and for level that gets covered */
	.site-outer:after,
	.mp-level::after,
	.mp-level::before {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
	}
	.site-outer:after,
	.mp-level::after {
		background: rgba(0, 0, 0, 0.3);
		-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		z-index: 10000;
	}
	.mp-level::after {
		z-index: -1;
	}
	.mp-level.mp-level-overlay::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	.mp-level.mp-level-overlay {
		cursor: pointer;
		overflow-y: hidden;
	}
	.mp-level.mp-level-overlay.mp-level::before {
		width: 100%;
		height: 100%;
		background: transparent;
		opacity: 1;
	}
	.site-outer,
	.mp-level {
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	}
	/* overlap */
	.mp-overlap .mp-level.mp-level-open {
		box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: translate3d(-40px, 0, 0);
		-moz-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
		z-index: 1;
	}
	/* First level */
	.mp-menu>.mp-level,
	.mp-menu>.mp-level.mp-level-open,
	.mp-menu.mp-overlap>.mp-level,
	.mp-menu.mp-overlap>.mp-level.mp-level-open {
		box-shadow: none;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	/* cover */
	.mp-cover .mp-level.mp-level-open {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.mp-cover .mp-level.mp-level-open>ul>li>.mp-level:not(.mp-level-open) {
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	/* content style */
	.mp-level {
    background-color: @SubNavigationBackgroundColor;
    overflow-y: hidden;
	}
	.mp-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mp-menu ul li {
		.mega-menu-mobile-list-row {
			margin-right: 0px;
		}
		.col-xs-10,
		.col-xs-2 {
			a {
				display: block;
				padding: 10px 0px 10px 60px;
			}
		}
		.col-xs-2 {
			a {
				padding: 10px 12px;
			}
		}
	}
	.mp-menu ul li>a {
		display: block;
		padding: 10px 60px;
	}
	.back-icon-wrapper {
		padding: 10px 20px;  
		border-bottom: 1px solid @osbornSecondaryBorderColor;
		span {
			padding-left: 15px;
		}
		.pl-1 {
			padding: 10px 15px;
		}
	}
	.mobile-navbar-header {  
		.icon-bar {
			background-color: @osbornLinkFocusedTextColor !important;
			width: 22px;
			height: 2px;  
			margin-bottom: 6px;    
			display: block;    
		}
		button {  
		    float: left;  
		    background: none;
        border: none;  
        margin-top: 10px;     
		}  
	}  
}  

.hamburger{  
    @media (max-width:600px){
      left: -29px;  
	}   
}    
.mobile-navbar-header {      
		button{
		@media (max-width:767px){
		    margin-top: 6px !important;  
		}  
		}
}

/*** End multi level push menu styles ***/    


/** clp banner styles **/

.ob-clp-banner-widget{    
    padding: 1% 0 3%;
    margin-bottom: 20px;
    h2{       
     color:@osbornPrimaryHeadingTextColor;
     font-weight: 500;
     margin: 20px 0;   
     font-size: 32px;
    }
    p{   
    @media screen and (min-width:768px){        
       width:90%;
    }
       font-size: 14px;  
       color:@osbornPrimaryTextColor;
    }
}

/** breadcrumb widget styles **/
#CC-breadcrumb-details{          
   padding: 0 0 20px;
  #breadcrumbElement{
      padding: 0px;
     @media screen and (max-width:767px){   
      padding: 0px
     }
      #breadcrumbTrail{           
          a,span{
           color:@osbornPrimaryTextColor ; 
           font-size: 14px;
          }
      }    
  }
}


/** plp banner widget styles **/
#ob-plp-banner-widget{   
    margin-bottom: 30px;
    h2{
    @media screen and (min-width:768px){       
        padding: 0px; 
    }
        margin: 0px;
        color:@osbornPrimaryTextColor ;
        font-weight: 500;
    }
}

/** custom checkbox  **/

    .checkbox{   
    padding-left:0px;      
}
.checkboxcontainer input {
  display: none;
}

.checkboxcontainer {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkboxcontainer .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;  
  border: 1px solid @osbornTertiaryBorderColor;
  
  @media screen and (min-width: 768px){
      width: 15px;
  height: 15px;
  }
}

.checkboxcontainer input:checked :before {
  background-color: #1390e5;   
  border: 1px solid #1390e5;
}       


.checkboxcontainer input:checked + .checkmark {
  background-color: #1390e5;
  border: 1px solid #1390e5;
}



.checkboxcontainer input:checked + .checkmark {
    border: 1px solid grey;
    background-color: grey;
}

.checkboxcontainer input:checked + .checkmark {
    border: 1px solid grey;
}

@media screen and  (max-width:767px){    
#CC-overlayedGuidedNavigation-done{
    
        position: absolute;        
        right: 15px;  
    }
}
