
/** news details css **/
.ob-news-content-widget {
  .ob_breadcrumb{
  a{
    color:@osbornPrimaryTextColor;
  }
 }
.newsdetails{
  padding: 50px 0px;
  @media (max-width:991px){
    text-align: center;
  }    
}
img { 
 
  margin-bottom: 5%;
  @media (min-width:992px){
    float: left;
    margin-right: 10%;
  }
  @media (max-width: 425px){
    width: 100%;
  }
} 
.newsSection { 
  text-align: justify; 
} 
.newsTitle{
font-size: 30px;  
  margin-bottom: 40px;
  line-height: 30px;
  @media (max-width: 1199px){
    font-size: 24px;      
  }
}
.newsContent{
margin-top: 35px;
line-height: 30px;
}
hr{
border-top: 1px solid @osbornBorderBottomColor;
}
}
