#WIDGET_ID-WIDGET_INSTANCE_ID {
  .ob-category-content-widget{
    @media (min-width:768px){
    padding-left: 30px;
    }
    padding-bottom: 30px;
  }
.obcategorylistview{
    border-bottom: 1px solid;
    padding: 30px 0px;   
    a{
        color:@osbornLinkFocusedTextColor;
        cursor: pointer;
        text-decoration: none;
      }
    h4{
      margin-top: 0px;
    }
    .ob-category-content{
      @media (min-width:768px){
        max-width: 80%;
        text-align: justify; 
      }    
    }
  }
}