#WIDGET_ID-WIDGET_INSTANCE_ID {
    #ob-category-banner-widget{
 margin-bottom: 30px;
 border-bottom: 1px solid @osbornTertiaryBorderColor;
 padding-bottom: 30px;
    h2{
    @media screen and (min-width:768px){       
        padding: 0px; 
    }
        margin: 0px;
        color:@osbornPrimaryTextColor;
        font-weight: 500;
    }
}
}    