#WIDGET_ID-WIDGET_INSTANCE_ID {


/* ---------------------------------------------------------------------- */
/*	No Search Results Found Area
/* ---------------------------------------------------------------------- */

#CC-noSearchResults-display {

  #CC-noSearchResults-resultsText {
      padding-top: 30px;
         span {
        font-size: 20px;
        font-weight: 500;
      } 
  }
  .suggestionstyling{
      margin-bottom: 40px;   
      h3{
          font-weight: 500;
    color: @osbornPrimaryTextColor;
      }
      ul{
          padding-left:20px;  
          
          li{
              font-size: 16px;
          }
      }
  }
    
}

}