#WIDGET_ID-WIDGET_INSTANCE_ID {

/* -------------------------------------------------- */
/*	Secondary Navigation Widget */
/* -------------------------------------------------- */	
#secondaryNavigation{
  .left-Nav{
    margin-bottom: 30px;
    padding-left: 0px;
  }
  h3{
    margin: 0 0 35px;
    font-weight: 500;
    font-size: 33px;
    color: @osbornPrimaryTextColor;
  @media screen and (max-width:767px){
    margin: 0;
  }  
  }
	.nav li{
		border-bottom: 1px solid @osbornTertiaryBorderColor;
  }
  .nav li a{
    color: @osbornPrimaryTextColor;
  }
	.nav li.active a{
		border: 0;
		background-color: @osbornPrimarybgColor;
		color: @osbornPrimaryTextColor;
	}	
	.nav li.listBackgroundColor{
       border: 0 !important;
       background-color: @osbornPrimarybgColor !important;
       color: @osbornPrimaryTextColor !important;    
    }
    .btn-navbar{
      float: left;
    }
    .navbar-toggle{
      background-color: @osbornRadioCheckboxBackgroundColor;
    }
    .icon-bar{
      background-color: @osbornPrimaryButtonbgColor;
    }      
}
}