#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */

  // Use class rather than id to allow multiple
  // instances of this widget on a single page.

.ob-home-gdpr-banner-widget {
  bottom: 0;
    position: fixed;
    background: @osbornGDPrBackgroundColor;
    border: 8px solid @osbornBorderBottomColor;
    z-index: 10001;  
    left: 0;
    width: 100%;
    >div{
      padding: 23px;      
      margin: auto;
      @media (min-width:1024px){
        width: 92%;
      }
    }
  .ob_cookie{
    font-size: 16px;
    line-height: 25px;
    .cookieNote{
      color: @osbornLinkFocusedTextColor;
    }  
  }

  .accept_cookie{
    text-align: center;
   button{
    background: @osbornGDPrBackgroundColor;
    padding: 3px 35px;
    opacity: 0.8;  
    border: 1px solid @osbornTertiaryBorderColor;
    margin-top: 15px;
    @media (min-width:1024px){
      float: right;
    }   
  }
}
}

}  