#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */

  // Use class rather than id to allow multiple
  // instances of this widget on a single page.

.ob-home-products-widget {
  .dummy-class{
    margin: 0 auto;
    text-align: center;
}
}
}