#WIDGET_ID-WIDGET_INSTANCE_ID {
/** wishlist icon css **/
.ob-floating-wishlist {
    z-index: 998;
    cursor: pointer;
    right: 25px;  
    bottom: 45px;
    position: fixed;
    border: 1px solid @osbornTertiaryBorderColor;
    padding: 12px;
    background: @osbornPrimaryLabelBackgroundColor;   
    img{
      width: 26px;
      height: 26px;
    }
    .wishlitsItems{
      height: 22px;
      width: 22px;
      border: 1px solid @osbornwishlistItemBorderColor;
      border-radius: 50%;  
      position: absolute;
      top: -8px;
      right: -7px;  
      background: @osbornPrimaryLabelBackgroundColor;
      text-align: center;
      color: @osbornwishlistItemTextColor;  
    }
}
}