#WIDGET_ID-WIDGET_INSTANCE_ID {
.privacyPolicy{
  h2{    
    margin: 0 0 35px;
    font-weight: 500;
    font-size: 33px;
    color: @osbornPrimaryTextColor;
  }
  h4{
    font-weight: 500;
    font-size: 20px;
    color: @osbornPrimaryTextColor;
  }
  p{
    color: @osbornPrimaryTextColor;  
  }
  .viewJobs{
     margin: 4% 0; 
 a{   
    padding: 5px 30px;
    border: 1px solid @osbornTertiaryBorderColor;
    color: @osbornPrimaryTextColor;
  }
 }
  @media screen and (max-width:767px){   
    .viewJobs{   
      margin: 7% 0 9%;
      }
    } 
}
}      