#WIDGET_ID-WIDGET_INSTANCE_ID {
    #Banner_Widget {
	    margin-top: -7px;
        //z-index: 99;
        position: relative;
	}
	.btn-primary {
	//	padding: 8px 12px;
	//	font-size: 1em;
	}
	#osbornCarousel {
		@media (max-width: 767px) {
			.carousel-indicators {
				  bottom: 0px;
			  }  
		  }
		.hero-text {
			position: absolute;
			top: 30%;  
			width: 100%;
			.ob_secColor;                   // color: #ffffff;
			@media (max-width: 600px) {
				top: 20%;
			}    
		}
		.carousel-inner {  
			position: relative;  
			.heroImgcontent1 {   
			    .ob_capsWord;                      // capitalize text 
				@media (min-width: 992px) {
					font-size: 35px;
					margin-bottom: 36px;  
				}     
				@media only screen and (min-width:601px) and (max-width:991px) {
					font-size: 25px;
					margin-bottom: 25px;
				}
				@media only screen and (max-width:600px) {
					font-size: 20px;
					margin-bottom: 10px;  
				}
			}
			.heroImgcontent2 {
			    .ob_capsWord;                   // capitalize text 
				letter-spacing: 15px;    
				@media (min-width: 992px) {
					font-size: 80px;
					margin: 45px 0px;
				}
				@media only screen and (min-width:601px) and (max-width:991px) {  
					font-size: 50px;
					margin: 25px 0;
				}
					@media only screen and (max-width:600px){    
					font-size: 24px;    
					margin: 10px 0;  
				}
			}
		}  
		@media (min-width: 991px){
			.glyphicon-chevron-left{
				margin-left: 100px;
			}
			.glyphicon-chevron-right{
				margin-right: 100px;
			}
		}
	}
.mobile-hero-text{
	background: @osbornBackgroundColor;
	padding: 40px 0px;
	color: @osbornSecondaryTextColor;
}
	
}    