#customCRSVideoWidget_v1-wi1800004 {
    .featurevideoDiv {
        display: inline-block;
        text-align: center;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-header{
        border-bottom: 0px;
    }
    .playbutton {
        position: absolute;
        top: 20%;
        width: 79px;
        height: 79px;    
        left: 38%;
        
    }
    .image1 {
        width: 404.5px;
        height: 204px;
        @media only screen and (max-width:425px){
            width:unset;
            height:unset;  
        }
        
    }
    .image2 {  
        width: 404.5px;
        height: 204px;
        @media only screen and (max-width:425px){
            width:unset;  
            height:unset;
        }
        
    }
    .featureVideoSection {
        margin: 0 auto;
        float: none;
    }
    .featuredheading {
        font-family: 'Open Sans';
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0px;
        padding: 20px;
    }
    section {
        background-image: url("/file/general/featuredImage.png");
    }
    .imagetitle {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 63px;
    }
    @media only screen and (min-width:991px) {
        .image1 {
            width: 404.5px;
            height: 204px;
            margin-right: 20px;
        }
        .featuredheading {
            padding: 50px;
        }
        .imagetitle {
            padding: 19px 0px 0px;
            max-width: 97%;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 990px){
         .imagetitle {
             margin-bottom: 30px;
             margin-top: 19px;
         }
    }
    @media (max-width: 375px) and (min-width: 320px){
        .playbutton {
            top: 15%;
        }
    }

}