
.dataTables_wrapper .dataTables_filter {
    display: none;
}
.ob-skulisting-widget{
  padding-top: 30px;
  tbody td:nth-last-child(1) a img {
      cursor: pointer !important;
  }
}

/** Iframe css **/
.cswidget{
  border: none;
  background: none;
  outline: none;
}
/** Ends Iframe css **/
.filteredSKU{
  font-size: 10px;
  word-break: break-word;
}

  @media (min-width:768px){
    .skulist{
    height: 30px;
  }   
  .addwishlist{
    float: left;
  }
}
.ellipsis{  
    position:relative;  
}

.datatable_wrapper_new{  
    overflow-x: auto; 
    @media (max-width: 767px){
      margin-left: 169px;
      overflow-x: scroll;
      overflow-y: visible;
      width: auto;
      border-left: 1px solid @osbornTertiaryBorderColor;
      margin-right: -15px;
    } 
}
.nextpages{
    width: 40px;
  text-align: center;
  padding: 6px;
  border: 1px solid @osbornTertiaryBorderColor;
  right: 11%;    
  position: absolute;    
  font-weight: normal;
  .pageNum{
      cursor: pointer;    
  }
}    
.activefilter{
color: @osbornPrimaryLinkColor;  
font-size: 13px;  
}  
.glyphicon-plus,.filter{
 cursor: pointer;
}  
.glyphicon-plus{
       padding-right: 5px;
  font-size: 12px;
}
.caret{
position: absolute;
top: 17px;
margin-left: 10px;
}
@media (max-width:767px){  
table{
  border-bottom: none !important;
  width: 100%;
  display: block;
  white-space:nowrap;
}  
thead{  
  float: left;    
  left: 0;
  position: absolute;
  width: 120px;
  }
  thead tr {
    left: 0;
  position: absolute;
  width: 120px;
  padding-left: 15px;
    }
  thead td {
      display: block;
      border-bottom: none !important;
      padding: 10px 10px 10px 0px !important;
      text-align: left !important;
      height: 60px;
  }
  tbody{
      float: left;      
      width: 35%;
  }  
  tbody tr {    
      display: inline-block;  
  }  
  tbody td {
      border-top: none !important;    
      text-align: center;
      display: block;  
      width: 80%;
      float: left;
  }
  tbody td:nth-last-child(2),tbody td:nth-last-child(1) {  
    display: inline;
  }
  .addwishlist{
    margin-right: 8px;
  }
}
@media (max-width:425px){
#skuTable thead{
  width: 55%;
}
}
#clearFilter{
border: 1px solid @osbornTertiaryBorderColor;
  background: none;
  padding: 5px;
  float: right;
  @media (max-width: 767px){
    float: none;
  }
}
/*
* Table styles
*/
table.dataTable {
width: 100%;
margin: 0 auto;
clear: both;
border-collapse: separate;
border-spacing: 0;
}
table.dataTable thead th {
font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
padding: 10px 18px;
border-bottom: 1px solid @osbornSecondaryBorderColor;
text-align:center;
position: relative;
cursor: default;  
}
table.dataTable thead th:active,
table.dataTable thead td:active {
outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
cursor: pointer;
*cursor: hand;
background-repeat: no-repeat;
background-position: center right;
}
table.dataTable thead .sorting {
background-image: url("../images/sort_both.png");
}
table.dataTable thead .sorting_asc {
background-image: url("../images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
background-image: url("../images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
background-image: url("../images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
background-image: url("../images/sort_desc_disabled.png");
}
table.dataTable tbody th,
table.dataTable tbody td {
padding: 8px 10px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
border-top: 1px solid @osbornBorderBottomColor;
text-align: center;
cursor: default;  
@media (max-width: 767px){
  height: 64px;
}

img{  
  width: 25px;
}
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
border-top: none;
}
table.dataTable.display tbody tr.even {
background-color: @osbornTableEvenRowbgColor;
}  
table.dataTable.no-footer {
border-bottom: 1px solid @osbornSecondaryBorderColor;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
white-space: nowrap;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
padding: 4px 17px 4px 4px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
padding: 4px;
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left{
text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center {
text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right{
text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify {
text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap {
white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
box-sizing: content-box;
}

/*
* Control feature layout
*/
.dataTables_wrapper {
position: relative;
clear: both;
*zoom: 1;
zoom: 1;
padding-bottom: 100px;
@media (max-width: 767px){  
  padding-top: 30px;
}
}  
.dataTables_wrapper .dataTables_length {
float: left;
}
.dataTables_wrapper .dataTables_filter {
float: right;
text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
clear: both;
float: left;
padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
float: right;
text-align: right;
padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
box-sizing: border-box;
display: inline-block;  
min-width: 1.5em;
padding: 0.5em 1em;
margin-left: 2px;
text-align: center;
text-decoration: none !important;
cursor: pointer;  
*cursor: hand;
color: @TextColor !important;
border: 1px solid transparent;  
border-radius: 2px;  
&:hover{
    font-weight: bold;      
}
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
color: @TextColor !important;
    font-weight: bold;  

}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
cursor: default;
color: @TextColor !important;
border: 1px solid transparent;
background: transparent;
box-shadow: none;
    font-weight: normal;
}
      
.dataTables_wrapper .dataTables_paginate .ellipsis {
padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: 40px;
margin-left: -50%;
margin-top: -25px;
padding-top: 20px;
text-align: center;
font-size: 1.2em;
background-color: white;
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
color: @TextColor;
}
.dataTables_wrapper .dataTables_scroll {
clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
*margin-top: -1px;
-webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
height: 0;
overflow: hidden;
margin: 0 !important;
padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
border-bottom: 1px solid #111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
border-bottom: none;
}
.dataTables_wrapper:after {
visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
}

@media screen and (max-width: 767px) {
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_paginate {
  margin-top: 0.5em;
}
}
@media screen and (max-width: 640px) {
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_filter {
  margin-top: 0.5em;
}
}
.cb-dropdown-wrap {
/* At most, around 3/4 visible items. */
position: absolute;
z-index: 1;
width: 100%;
}

.cb-dropdown,
.cb-dropdown li {
margin: 0;
padding: 0;
list-style: none;
}

.cb-dropdown {
width: 100%;
max-height: 150px;
overflow: auto;
background: @osbornDropdownBackgroundColor;
border: 1px solid @osbornTertiaryBorderColor;
}
.cb-dropdown.filtered{
position: absolute;
top: -8px;
max-height: 60px;
}


/* For selected items. */
.cb-dropdown li.active {
background: @osbornPrimarybgColor;  
}

.cb-dropdown li label {
display: block;
position: relative;
cursor: pointer;  
line-height: 19px; /* Match height of .cb-dropdown-wrap */
padding: 2px 5px 0px;  
}

.cb-dropdown li label > input {
position: absolute;  
right: 3px;
top: 0;
width: 16px;
}

.cb-dropdown li label > span {
display: block;
margin-left: 3px;
margin-right: 20px; /* At least, width of the checkbox. */
font-family: sans-serif;
font-size: 0.8em;
font-weight: normal;
text-align: left;
}

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
background-position: 100% 10px;
}
