#WIDGET_ID-WIDGET_INSTANCE_ID {
.GDPR{
    margin-bottom:5%;
    @media screen and (max-width:767px){    
     margin-bottom:12%;   
    }
  h2{    
    margin: 0 0 35px;
    font-weight: 500;
    font-size: 33px;
    color: @osbornPrimaryTextColor;
  }
  h4{
    font-weight: 500;
    font-size: 20px;
    color: @osbornPrimaryTextColor;
  }
  p{
    color: @osbornPrimaryTextColor;  
  }
}
}