.obcategorylistview{
    border-bottom: 1px solid @osbornSearchBorderColor;
    padding: 50px 0px;   
    a{
        color: @LinkColor;
        font-weight:600;
        cursor: pointer;
        text-decoration: none;
      }
    h4{
      margin-top: 0px;
    }
    .ob-category-content{
      max-width: 80%;
      text-align: justify;  
    }
  }