#WIDGET_ID-WIDGET_INSTANCE_ID {
    /* ---------------------------------------------------------------------- */
/*  Guided Navigation Area
/* ---------------------------------------------------------------------- */
#CC-guidedNavigation-column {

  @GuidedNavigationDesktopAndTabletFontSize:   13px;

  margin-top: 5px;
  margin-left: 0.75%;
  margin-right: 0.75%;
  outline: 1px transparent black;
  
  h4, h5 {
    margin: 0px;
  }
  
  

  #CC-guidedNavigation-refinementCrumbSection {
    background-color : @osbornPrimaryLabelBackgroundColor; 
    padding-top: 10px; 
    padding-left: 15px; 
    padding-bottom: 10px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    border: none;
    box-shadow: none;
    
    .nav-header {
      margin: 0px; 
      text-transform: uppercase;
      padding-bottom: 5px;
      outline: none;
    }

    

    .close {
      float: none;
      vertical-align: middle;
      line-height: 14px;
      color:@osbornSecondaryTextColor;
      text-shadow: none;
      opacity: 1;
      margin-left: 5px;
      margin-top: -12px;
    }
    
    .CC-guidedNavigation-refineByTextOption {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
      line-height: 22px;
      margin-top: -10px;
      vertical-align: text-top;
    }
    

    .label {
      height: 26px;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 4px;
      word-wrap: break-word;
      margin: 5px 5px 0px 0px;
      overflow: auto;
      line-height: 3;
      display: inline-block;
      overflow: hidden;
    }  
    
    @media (min-width: 981px) and (max-width: 1200px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    @media (min-width: 768px) and (max-width: 980px) {
      padding-left: 3px;
      padding-right: 3px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  #CC-guidedNavigation-accordionSection {
    margin-bottom: 0px;
     
    .panel-default {
      border: none;
      border-top: 1px solid;
      border-radius: 0px;
      box-shadow: none;
      margin: 10px 15px;
      margin-top: 0px;
    }

    .nav-header:hover {
      text-decoration: none;
    }
    .panel-group {
      margin-bottom: 4px;
    } 
     
    .panel-heading {
      background-color: @osbornPrimaryLabelBackgroundColor;
      padding: 10px 0px;
    }
     
    .panel-body {
      background-color: @osbornPrimaryLabelBackgroundColor;
      border-top-color: @osbornPrimaryLabelBackgroundColor;
      padding: 0px;
    }

    //Plus Minus for accordion open close
    .panel-heading h4 > a:before {
      float: right !important;
      content:"-";
      padding-right: 5px;
      font-size: 22px;
    }
    .panel-heading h4 > a.collapsed:before {
        float: right !important;
        content:"+";
        font-size: 22px;
    }
    .panel-heading h4 > a:hover, 
    .panel-heading h4 > a:active, 
    .panel-heading h4 > a:focus  {
        text-decoration:none;
    }

  }
  
  .allcategories {
    margin-left: 10px;
  }
  
  .nav > li > a, label, .nav-header {
    font-size: @GuidedNavigationDesktopAndTabletFontSize;
    color: @osbornPrimaryLinkColor;
  }  
  .nav-header {
    text-transform: uppercase;
  }
  .nav > li > a {
      padding: 3px 15px;
      margin-left: -15px;
      margin-right: -15px;
    } 
  
  .refinement-with-parent {
    margin-left: 20px;
  }
  
  i[class*="icon"] {
    margin-top: auto;
  }
  
  .toggle-arrow {
    background-position: -289px -96px;
  }

  .collapsed .toggle-arrow {
    background-position: -312px -96px; 
  }
  
  .collapse > div {
    visibility: hidden;
  }

  .collapse.in > div {
    visibility: visible;
  }
  
  .see-more-less {
    font-style: italic;
    display: inline;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
      background-color: transparent;
    }
  }
  
  .clearAllRefinements {
    font-style: italic;
    display: inline;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
      background-color: transparent;
    }    
  }
  
  .sign {
    padding: 0px;
  }
  
  .li-see-more-less {
    padding: 3px 0;
  }
  
  .storefront-sidenav {  
    border-radius:1px;
    padding:14px 0px;
  }
  
  a {
    cursor: pointer;
    font-size: @GuidedNavigationDesktopAndTabletFontSize;    
  }
  
  .nav > li:hover,
  .nav > li:focus {  
    .see-more-less {
      text-decoration: none;
      background-color: transparent;
    }
  }
  
  .nav > li > div:hover,
  .nav > li > div:focus {
    text-decoration: none;
    background-color: @osbornPrimaryLabelBackgroundColor;
  }
  
  .nav-list {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /* Desktop large */
  @media (min-width: 1200px) {
    
    .storefront-sidenav {
      width: 258px;
    }
    
  }

  @media (min-width: 981px) and (max-width: 1200px) {
    
    .storefront-sidenav {
      width: 215px;
      padding:5px;
    }
    
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 980px) {
    
    .storefront-sidenav {
      top: 0;
      margin-top: 20px;
      margin-right: 5px;
      padding:3px 0px 0px 0px;
      width:170px;
      margin-left:0px;
    }
  }

  .label-info {
    background-color: @ButtonPrimaryBackgroundColor;
  }
}
    
}