#WIDGET_ID-WIDGET_INSTANCE_ID {

/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */
  .ob_breadcrumbs{
		display: inline-block;
    margin-right: 15px;
    margin-left: 25px;
		margin-bottom: 20px;
		padding: 10px 10px 5px;
		border: 1px solid @osbornSecondaryBorderColor;
		.close{
			 vertical-align: bottom;
			 float: none;
			 opacity: 0.8;
		}
		
  }
  .ob-productnews-navigation-widget{
    padding-top:	30px;
  }
.ob-news-refinements{
  margin-bottom: 0px;
  #ob-news-refinementCrumbSection{  
    margin: 10px 0;
    .backbtn{
      padding-left: 10px;
    }
  }
  #ob-news-refineByText{
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    outline: none;
  }
  .panel-default {
    border: none;
    border-top: 1px solid @osbornBorderBottomColor;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0px;
    padding-top: 10px;
  }
  label,.nav-header{
    font-size: 13px;
    color: @osbornPrimaryTextColor;
  }
  .panel-group {
    margin-bottom: 4px;
  } 
  .panel-heading {
    background-color: @osbornPanelHeadingBackgroundColor;
    padding: 10px 0px;
    border: none;
    color: @osbornPrimaryTextColor;
    h4{
      margin: 0px;
      a{
        color: @osbornPrimaryTextColor;
         text-transform: uppercase;
      }
      
    }
    
  }
   
  .panel-body {
    background-color: @osbornPanelHeadingBackgroundColor;
    border-top-color: @osbornPanelHeadingBackgroundColor;
    padding: 0px;
  }

  //Plus Minus for accordion open close
  .panel-heading h4 > a:before {
    float: right !important;
    content:"-";
    padding-right: 5px;
    font-size: 22px;
  }
  .panel-heading h4 > a.collapsed:before {
      float: right !important;
      content:"+";
      font-size: 22px;
  }
  .panel-heading h4 > a:hover, 
  .panel-heading h4 > a:active, 
  .panel-heading h4 > a:focus  {
      text-decoration:none;
  }
}


#Newsoverlay {
    position: fixed;
    display: none;
    overflow:scroll!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @osbornPanelHeadingBackgroundColor;
    z-index: 2;
    cursor: pointer;
    
  }
  .obNewsOverlaySubmit{
    width: 35%;
    border: 1px solid @osbornPrimaryTextColor;
    cursor: pointer;
    font-size: 13px;
    word-break: break-all;
    position: absolute;
    right: 30px;
    color: @osbornPrimaryTextColor;
    margin-bottom: 45px;
  }
  .addpaddigntoOverLay{
    padding: 100px 15px 15px;
  }
  
}