	
	/* Start of Product Listings css */
	#CC-productListing {
		#CC-productList-refineResults-xs {
			text-align: left;
		}
		.tab-content {
			background: none;
			margin: 0;   
		}
		.cc-reader-text {  
			display: none;
		}
		.listing-title {
			font-size: 1.3em;
			font-weight: 500;
			padding: 10px 0 5px 0;
		}
		.cc-item-title a:hover,a:visited{
			color: @osbornPrimaryTextColor;
		}		
		#product-grid {
			.row {
				vertical-align: middle;
				.cc-product-item {
					overflow: hidden;
					height: 100%;
					vertical-align: top;
					.cc-item-detail {
						height: 50%;
						text-align: center;
						a {
							height: 100%;
							img {
								height: 100%;
							}
						}
						a:focus {
							outline: 1px solid -webkit-focus-ring-color;
						}
						.quick-view {
							top: 50%;
							text-align: center;
							position: absolute;
							display: none;
							width: 92%;
						}
					}
					.cc-item-detail:hover {
						.quick-view {
							display: block;
						}
					}
					.cc-item-title {
						height: 15%;
						display: inline-block;
						overflow: hidden;
						width: 100%;
						text-align: center;
						a:focus {
							outline: none;
							color:@osbornPrimaryTextColor;
						}
						p {
							text-align: center;
							padding-top: 20px;
							text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            text-transform: capitalize;
						}
						a {
							text-decoration: none;
							
						}
					}
				}
			}
			.row.gridview {
				height: 350px;
				.cc-item-title,
				.cc-item-price {
					height: 15%;
				}
				@media (max-width: 480px) {
					height: 300px;
				}
			}
			.row.items3 {
				height: 450px;
				.cc-item-title,
				.cc-item-price {
					height: 10%;
				}
			}
			.row.items4 {
				height: 350px;
				.cc-item-title,
				.cc-item-price {
					height: 15%;
				}
			}
		}
		.btn-group {
			position: relative;
			display: inline-block;
			*display: inline;
			/* IE7 inline-block hack */
			*zoom: 1;
			font-size: 0;
			vertical-align: middle;
			white-space: nowrap;
			*margin-left: .3em;
			z-index: 0;
		}
		.btn-group:first-child {
			*margin-left: 0;
		}
		.btn-group+.btn-group {
			margin-left: 5px;
		}
		.btn-group>.btn {
			position: relative;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		.btn-group>.btn+.btn {
			margin-left: -1px;
		}
		.btn-group>.btn,
		.btn-group>.dropdown-menu {
			font-size: 14px;
		}
		.btn-group>.btn-xs {
			font-size: 11px;
		}
		.btn-group>.btn-sm {
			font-size: 12px;
		}
		.btn-group>.btn-lg {
			font-size: 16px;
		}
		.btn-group>.btn:first-child {
			margin-left: 0;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topleft: 4px;
			border-top-left-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-left-radius: 4px;
		}
		.btn-group>.btn:last-child,
		.btn-group>.dropdown-toggle {
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topright: 4px;
			border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			border-bottom-right-radius: 4px;
		}
		.btn-group>.btn.large:first-child {
			margin-left: 0;
			-webkit-border-top-left-radius: 6px;
			-moz-border-radius-topleft: 6px;
			border-top-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-moz-border-radius-bottomleft: 6px;
			border-bottom-left-radius: 6px;
		}
		.btn-group>.btn.large:last-child,
		.btn-group>.large.dropdown-toggle {
			-webkit-border-top-right-radius: 6px;
			-moz-border-radius-topright: 6px;
			border-top-right-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			-moz-border-radius-bottomright: 6px;
			border-bottom-right-radius: 6px;
		}
		.btn-group>.btn:hover,
		.btn-group>.btn:focus,
		.btn-group>.btn:active,
		.btn-group>.btn.active {
			z-index: 2;
		}
		.btn-group .dropdown-toggle:active,
		.btn-group.open .dropdown-toggle {
			outline: 0;
		}
		.btn-group>.btn+.dropdown-toggle {
			padding-left: 8px;
			padding-right: 8px;
			-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
			-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
			box-shadow: inset 1px 0 0 rgba(255, 255, 255, .125), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
			*padding-top: 5px;
			*padding-bottom: 5px;
		}
		.btn-group>.btn-mini+.dropdown-toggle {
			padding-left: 5px;
			padding-right: 5px;
			*padding-top: 2px;
			*padding-bottom: 2px;
		}
		.btn-group>.btn-small+.dropdown-toggle {
			*padding-top: 5px;
			*padding-bottom: 4px;
		}
		.btn-group>.btn-large+.dropdown-toggle {
			padding-left: 12px;
			padding-right: 12px;
			*padding-top: 7px;
			*padding-bottom: 7px;
		}
		#CC-product-listing-results-text span {
			margin: 20px 0;
		}		
		.cc-list-price {
			line-height: inherit;
			text-align: inherit;
		}		
		.cc-product-item-img {
			width: 190px;
			height: 145px;
			margin: 5px auto 5px;
			text-align: center;
			img {
				max-width: 100%;
				vertical-align: middle;
				border: 0;
			}
		}
		.well {
			background-color: white;
			border-radius: 0px;
		}
		#cc-product-spinner .row {
			height: 70px;
		}
		#cc-product-spinner-area {
			position: relative;
		}
		.cc-text-overflow {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			margin-top: 5px;
		}
		@media (max-width: 480px) {
			#product-grid .row {
				height: 250px;
			}
		}
		/** start of pagination css **/
		#cc-paginated-controls-bottom {
			padding-bottom: 90px;
			    border-top: 1px solid @osbornTertiaryBorderColor;
              padding-top: 15px;
		}
		.nextpages {
			display: none;
			width: 40px;
			text-align: center;
			padding: 6px;
			border: 1px solid @osbornSecondaryBorderColor;
			right: 13%;
			position: absolute;
			top: 40px;
			font-weight: normal;
			>div {
				padding: 4px;
				a {
					text-decoration: none;
				}
			}
		}
		.btn-hover {
			height: 40px;
			&:hover {
				.nextpages {
					display: block;
				}
			}
		}
		#cc-paginated-controls {
			margin-bottom: 10px;
			.btn:focus {
				border: 1px solid;
			}
			.btn-group>.btn {
				border: none;
			}
			.btn-default:hover,
			.btn-default:focus,
			.btn-default:active,
			.btn-default.active {
				color: @osbornPrimaryLinkColor;
				background-color:@osbornPrimaryLabelBackgroundColor;
				box-shadow: none;
			}
		}
		.view-variants {
			a {
				text-decoration: none;
				color:@osbornPrimaryTextColor;
				div {
					text-align: center;
					border: 1px solid @osbornTertiaryBorderColor;
					margin: auto;
					padding: 3px;
					margin-top: 13px;
					width: 75%;
					@media (max-width: 600px) {
						width: 50%;
					}
					&:hover {
						background: rgba(112, 114, 113, 0.4);
						color: @osbornTertiaryButtonTextColor;
					}
				}
			}
			a:visited{
				color:@osbornPrimaryTextColor;
			}
		}
		/** End of pagination css **/
	}
	/* End of Product Listings css */
	/** Start seo text styles**/
	.oB_seoText {   
		clear: both;
		padding: 30px 15px;  
		p {
			color: @osbornPrimaryTextColor;
			font-size: 16px;  
			
		}
	}
	/** End seo text styles**/
    
