#WIDGET_ID-WIDGET_INSTANCE_ID {
.ob-loadrunner-widget {
    padding-bottom: 30px;  
    .loadRunnercontent{
      padding: 50px 0px;
      @media (max-width:991px){
        text-align: center;
      }    
    }
    img { 
     
      margin-bottom: 5%;
      @media (min-width:992px){
        float: left;
        margin-right: 10%;
      }
      @media (max-width: 425px){
        width: 100%;
      }  
    } 
    .loadContent { 
      text-align: justify;      
    }  
    .contentHeading{
    font-size: 30px;  
      line-height: 30px;
      @media (max-width: 1199px){
        font-size: 24px;      
      }
    }
    .contentDescription{
    margin-top: 35px;
    line-height: 30px;
    }  
    hr{
    border-top: 1px solid @osbornBorderBottomColor;  
    }
    a{
        border: 1px solid @osbornTertiaryBorderColor;
        padding: 8px 20px;  
        text-decoration: none;
        &:visited{
            color: @TextColor;  
        }
    }
    }
}