#WIDGET_ID-WIDGET_INSTANCE_ID {


/* ---------------------------------------------------------------------- */
  /*	Blank Widget Styles
  /* ---------------------------------------------------------------------- */

  // Use class rather than id to allow multiple
  // instances of this widget on a single page.
// osborn dealer locator css starts here
.ob-dealer-locators-widget {
    // dealer locator form css 
        .FindLocalDistri{
        
            h2{
                color: @osbornPrimaryTextColor;    
                font-weight: 400;   
                border-bottom: 1px solid @osbornPrimaryTextColor;
                padding-bottom: 20px;   
            }
            form{
                label{
                    font-size: 13px;
                    font-weight: 400;      
                    display: block;     
                    @media (max-width: 767px){     
                       margin-top:15px;          
                    }
                }
                select {
                    box-shadow: none;
                    background-color: @osbornDropdownBackgroundColor;
                    border-radius: 0px !important;
                    background-image: linear-gradient(45deg, transparent 50%, @osbornLinkFocusedTextColor 0%), linear-gradient(135deg, @osbornLinkFocusedTextColor 50%, transparent 50%), linear-gradient(to right, @osbornLinkFocusedTextColor, @osbornLinkFocusedTextColor);
                    background-position: calc(92.8%) calc(1.2em), calc(95%) calc(1.2em), calc(97.5%) 0.5em;
                    background-size: 5px 5px, 5px 5px, 0px 0px;
                    background-repeat: no-repeat;
                    padding: 4px 22px 4px 5px !important;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border-radius: 0 ;
                    @media screen and (min-width:768px) and (max-width:991px){
                        background-position: calc(92.8%) calc(1.2em),calc(96.8%) calc(1.2em),calc(97.5%) .5em;
                    }
                    @media screen and  (max-width:500px){
                        background-position: calc(95.5%) calc(1.2em),calc(96.8%) calc(1.2em),calc(97.5%) .5em;
                    }
                    @media screen and (min-width:501px) and (max-width:767px){
                        background-position: calc(96%) calc(1.2em),calc(96.8%) calc(1.2em),calc(97.5%) .5em;
                    }
                }
                select:focus{
                    outline: none;
                  }
                select, input{
                    width: 80%;
                    height: 40px;   
                    border: 1px solid  @osbornPrimaryTextColor;
                    outline:none;
                    padding: 10px; 
                
                    @media (max-width: 767px){     
                        width:100%;   
                    }
                    
                }
                
                .searchBtn{
                    margin-top: 25px;   
                    background-color: @osbornPrimaryButtonbgColor;
                    box-shadow: none;
                    background: border-box;    
                    padding: 6px 18px;
                    font-size: 12px;
                    border: 1px solid  @osbornPrimaryTextColor;
                }
            }
            form>div{
               margin: 15px 0 0px;
                padding: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid  @osbornPrimaryTextColor;       
            }
            
        }
        // ends here
        .refineSearch{     
            padding-bottom: 20px; 
           
            h4{   
                font-size: 14px;    
                padding: 20px 0px 0px;      
                color:  @osbornPrimaryTextColor;
            }
            h5{   
                color:  @osbornPrimaryTextColor;         
                padding-bottom: 10px;         
            }  
            .checkbox{       
                padding-bottom: 20px;         
            }   
            
        }
    //  grid view, list view css    
    .well{
        background-color: @osbornPrimaryButtonbgColor;
        border-top: 0px;
        border-left: 0px;   
        border-right: 0px;
        border-radius: 0px;
        box-shadow: none;   
        padding:30px 0px;       
        border-bottom: 1px solid  @osbornPrimaryTextColor;
        border-top: 1px solid  @osbornPrimaryTextColor;   
        
        h5{
            color: @osbornPrimaryTextColor;  
            display:inline-block;      
            
        }
        .btn-group{
            float:right;
             display:inline-block; 
             
             a{
                font-size: 25px;
                box-shadow:none;  
                color: @ButtonSecondaryBackgroundColor;
             }
        }
    }
    .item.list-group-item{
        float: none;
        width: 100%;
        background-color: @osbornPrimaryButtonbgColor;
        margin-bottom: 10px;  
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        border-top: 0px;
        height: unset;
        padding-right: 0px;
        .AddressWidth label{
            width: 140px;
        }        
        .displayBlock{
            display: inline-block;
            margin-right: 50px;
            label{
                width: 140px;
            }
        }

    }
    .item.grid-group-item{
        padding-right: 30px;        
        .displayBlock{
            display: block;
            margin-right: 0px;
            label{
                margin-right: 0px;
            }
        }   
    }
    .activegrid{
        color: @osbornButtonGridColor !important;
    }    
    .gridoddPadLeft{
        padding-left: 0px;
    }
    .gridevenPadRight{
        padding-right: 0px;
    }
    .gridevenPadLeft{
        padding-right: 30px;
    }    
    .gridoddPadRight{
        padding-left: 30px;
    }
    
    .item{
        line-height:35px;     
        padding: 20px 0px 40px;   
        padding-left: 0px;
        .displayBlock {
            display: block;
        }                  
        button{   
            float: right;
            background-color: @osbornPrimaryButtonbgColor;
            box-shadow: none;
            border: 1px solid  @osbornPrimaryTextColor;
            height: 35px;   
            width: 75px;   
            font-size: 12px;
        }
        .AddressWidth{
            label{
                margin-right:0px !important;  
            }
            span{
                width:50%;   
                word-break: break-word;    
            }
            
        }   
        div{
            a{
               color:  @osbornPrimaryTextColor;     
            }
        }  
    }
    // ends here
    // media queries for the mobile phones 
    @media (max-width:767px){
        .padRight{
            padding-right:0px !important;   
        }    
        .padLeft{
            padding-left:0px !important;     
        } 
    }
    //   ends here  
    }
    
    //Pagination css
    .paginated_buttons{
        padding-bottom: 100px;
        text-align: right;
        .btn{
            border: none;
            &:hover,&:active{
                background: none;
            }
        }
        .nextpages{
            display: none;
            border: 1px solid @osbornTertiaryBorderColor;
            padding: 5px 10px;
            position: absolute;
            left: 5px;
            top: 35px;
        }
        .btn-hover{
            height: 40px;
            &:hover {
                .nextpages {
                    display: block;
                }
            }
        }
        .btn-default:hover,
                .btn-default:focus,
                .btn-default:active,
                .btn-default.active {
                    color: @TextColor;
                    background-color: @osbornPrimaryButtonbgColor;
                    box-shadow: none;
                }
    }
    // ends here
    
}