#WIDGET_ID-WIDGET_INSTANCE_ID {   
.whyOsborn{
    margin: 10% 0;
    @media screen and (max-width:767px){
	  margin: 5% 0 10%;
	}
    h3{
       font-weight: 500;
       font-size: 20px;
       color:@osbornPrimaryTextColor; 
    }
    iframe{
     margin: 30px 0;   
    }
    p{
     color:@osbornPrimaryTextColor;    
    }
}
}