 /** Collection left nav widget styles  **/
 #ob-collection-leftnav-widget{
    .left-Nav{
      padding: 0 15px;
      h1{
        font-weight: lighter;
        font-size: 33px;
        color: @osbornPrimaryTextColor;
        margin-top: 0px;
      @media screen and (min-width:768px){
        margin: 0 0 24%;
      }  
      }
     .categoriesList{
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid;
      cursor:pointer;
     } 
     .categoriesList:hover{
      background: @osbornPrimarybgColor;
     }
    }
}